<!--<div style="font: font-family: Arial; margin-top: -20px; font-size: 20px" class="p-grid">
  <div align="center" class="p-col-6">
    <span style="font-size: 15px;"><i class="pi pi-calendar"></i>From </span>
    <p-calendar (onSelect)="onSearch($event)" view="month" [minDate]="fromfirstMonth" [maxDate]="fromlastMonth" dateFormat="mm/yy" [(ngModel)]="dateFrom" [touchUI]="true"></p-calendar>
  </div>
  <div align="center" class="p-col-6">
    <span style="font-size: 15px;"><i class="pi pi-calendar"></i>To </span>
    <p-calendar (onSelect)="onSearch($event)" view="month" [minDate]="tofirstMonth" [maxDate]="tolastMonth" dateFormat="mm/yy" [(ngModel)]="dateTo" [touchUI]="true"></p-calendar>
  </div>
</div>
<hr />
<div style="font: font-family: Arial; margin-top: -20px; font-size: 20px" class="p-grid">
  <div align="center" class="p-col-6">
    <p style="color: green;">Patrick:</p>
  </div>
  <div align="center" class="p-col-6">
    <p style="color: #565656;">Gaby:</p>
  </div>
</div>-->
<p-chart height="35vh" type="line" [data]="data"></p-chart>

