<div class="p-grid">
  <div class="p-col-2">
    <img align="middle" width="95" height="95" style="padding-right: 20px; padding-top: 10px" alt="MoneyLogo" src="./assets/header.png" >
  </div>
  <div class="p-col-8">
    <p align="middle" style="font-family: 'Comic Sans MS'; color: white; font-size: 40px; margin-bottom: 15px; margin-left: 50px; margin-top: 30px">MyFinance</p>
  </div>
</div>

<div style="padding-bottom: 15px" class="p-grid">
  <div class="p-col">
    <p>Hello {{username}}</p>
  </div>
  <div align="right" class="p-col">
    <button pButton type="button" (click)="onLogout()" label="Logout" ></button>
  </div>
</div>
