<div align="center" style="font-family: Arial; color: white;">
  <p align="center">New bills are visible in your Actual-Dashboard</p>
  <table>
    <tr>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
        <input type="text" pInputText [(ngModel)]="amount" placeholder="amount">
      </div>
    </tr>
    <tr>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-pencil"></i></span>
        <input type="text" pInputText [(ngModel)]="note" placeholder="note">
      </div>
    </tr>
    <tr>
      <div class="ui-inputgroup">
        <p>
        <p-calendar [(ngModel)]="date" [showIcon]="true" [touchUI]="true"></p-calendar>
        </p>
      </div>
    </tr>
    <tr>
      <td align="right"><p-button icon="pi pi-save" (onClick)="onNext($event)" label="Save"></p-button></td>
    </tr>
  </table>
</div>
